{% extends "base.html" %} {% block content %}
<div class="container has-text-centered">
  <h2 class="title is-2" align="center">Deportistas</h2>
  <div class="container">
    <div class="row field has-addons">
      <div class="control column is-four-fifths" >
        <input class="input" type="text" (keyup)="enter()" placeholder="Ingrese el nombre del torneo" id="barra-busqueda"/>
      </div>
      <div class="control column">
        <a class="button is-info" onclick="buscar()" id="barra-busqueda-boton"> Search </a>
      </div>
    </div>
    <div class="row">
      {% for deportista in deportistas_list %}
      <div class="col-sm elemento-deportista">
        {% if deportista.image == "" %}
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            alt="Card image cap"
            src="{{deportista.foto}}"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ deportista.nombre }} {{ deportista.apellido }}
            </h5>
            <div class="container">
              <div class="row">
                {% for participacion in participacion_list %}
                {% if participacion.deportista.id == deportista.id %}
                <div class="col-sm">
                  <img
                    class="card-img-bottom"
                    alt="Card image cap"
                    style="height: 50px; width: 50px"
                    src="{{ participacion.deporte.icono }}"
                  />
                  <p class="card-text deporte-nombre">{{ participacion.deporte.nombre }}</p>
                  <p class="card-text deporte-modalidad" style="display: none">{{ participacion.deporte.modalidad.nombre }}</p>
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
            <a href="{{ deportista.get_absolute_url }}" class="btn btn-primary"
              >Mas informacion</a
            >
          </div>
        </div>
        {% else %}
        <div class="card" style="width: 300px">
          <img
            class="card-img-top"
            alt="Card image cap"
            style="height: 300px"
            src="/{{ deportista.image }}"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ deportista.nombre }} {{ deportista.apellido }}
            </h5>
            <div class="container">
              <div class="row">
                {% for participacion in participacion_list %}
                {% if participacion.deportista.id == deportista.id %}
                <div class="col-sm">
                  <img
                    class="card-img-bottom"
                    alt="Card image cap"
                    style="height: 50px; width: 50px"
                    src="{{ participacion.deporte.icono }}"
                  />
                    <p class="card-text deporte-nombre">{{ participacion.deporte.nombre }}</p>
                    <p class="card-text deporte-modalidad" style="display: none">{{ participacion.deporte.modalidad.nombre }}</p>
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
            <a href="{{  deportista.get_absolute_url }}" class="button is-info"
              >Mas informacion</a
            >
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
      function enter(){
          var input = document.getElementById("barra-busqueda");
          input.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
                  event.preventDefault();
                  document.getElementById("barra-busqueda-boton").click();
              }
          })
      }
    function buscar() {
      var input = document.getElementById("barra-busqueda");
      var filter = input.value.toUpperCase();
      var deportistas = document.getElementsByClassName("elemento-deportista");
      var size = deportistas.length;
      for (var i = 0; i < size; i++) {
        var nombre = document.getElementsByClassName("deporte-nombre")[i];
        var modalidad = document.getElementsByClassName("deporte-modalidad")[i];
        if (nombre != null) {
            var nombre = nombre.textContent || nombre.innerText;
            if (modalidad != null) {
                var modalidad = modalidad.textContent || modalidad.innerText;
                console.log(nombre.toUpperCase().indexOf(filter) > -1);
                console.log(modalidad.toUpperCase().indexOf(filter) > -1);
                if (nombre.toUpperCase().indexOf(filter) > -1 || modalidad.toUpperCase().indexOf(filter) > -1 ) {
                    deportistas[i].style.display = "";
                } else {
                    deportistas[i].style.display = "none";
                }
            }
            else {
                if (nombre.toUpperCase().indexOf(filter) > -1) {
                    deportistas[i].style.display = "";
                } else {
                    deportistas[i].style.display = "none";
                }
            }

        }
      }
    }
  </script>
  {% endblock %}
</div>
